<ul id="menu">
    <!-- User menu - bit of a hack. -->
    <li class="sidebarcategory">
        <div class="menulabel">
            <span><%= fa_icon(:user) %></span>
        </div>
        <ul class="sidebarsection">
        <% if current_user %>
            <li><%= link_to current_user.name, user_profile_path %></li>
            <li><%= link_to "Monster Points (#{current_user.monster_points})", monster_points_path %></li>
            <li><%= link_to "Characters", my_characters_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
        </ul>
    </li>

    <%= render :partial => "sidebars/category", collection: SidebarCategory.all %>
</ul>
