<%= form_for([:user, @monster_point_adjustment], :remote => true) do |f| %>
    <%= f.error_messages :header_message => I18n.t("user.monster_point_adjustment.dialog_header"), :message => I18n.t("user.monster_point_adjustment.dialog_main") %>

	<ul class="form">
		<li>
			<%= f.label :declared_on %><br />
			<%= f.datepicker :declared_on, :dateFormat => "D d M yy", :changeMonth => true, :changeYear => true, :maxDate => "#{Date.today}", :readonly => true %>
		</li>
		<li>
			<%= f.label :points, I18n.t("user.monster_point_adjustment.points_label") %><br />
			<%= f.text_field :points %>
			<p><em><%= I18n.t("user.monster_point_adjustment.points_info_1") %><br /><%= I18n.t("user.monster_point_adjustment.points_info_2") %></em></p>
		</li>
		<li>
			<%= f.label :reason %><br />
			<%= f.text_field :reason %>
		</li>
	</ul>
<% end %>
