<% message_title ||= "Message Text" %>
<% button_text ||= nil %>
<% user = @message.user || current_user %>
<div id="messageform">
	<%= form_with model: @message do |f| %>
	  	<%= f.error_messages %>
	
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :board_id %>
		<%= f.hidden_field :request_uuid %>
	
	  	<ul class="form">
	  		<li>
		    	<%= f.label :message, message_title %>
		        Click <%= link_to "here", "/pages/196", { :target => '_new' } %> to view formatting options. Raw HTML is prohibited.<br />
		    	<%= f.text_area :message, class: "messagearea", id: :message_message %>
	  		</li>
		</ul>
		
		<% if @message.board.in_character %>
			<ul class="form">
				<li>
					Select one of your characters as whom to post, or type an NPC name into the field below.<br />
					<div class="options_container">
						<%= radio_button_tag(:radio_type, "character_id", !@message.character_id.blank? || @message.id.nil? ) %><%= label_tag "radio_type_character_id", "Character" %><br />
						<%= f.collection_select :character_id, 
											user.characters.order(:name).to_a.select{|character| character.state == "active"},
											:id, :name_and_title, {}, {class: "switch_enabled", id: :message_character_id} %>
					</div>
				</li>
				<li>
					<div class="options_container">
						<%= radio_button_tag(:radio_type, "name", @message.character_id.blank? && !@message.id.nil?) %><%= label_tag "radio_type_name", "NPC Name or Scenery Description" %><br />
						<%= f.text_field :name, class: "switch_enabled fullwidth", disabled: true, id: :message_name %>
					</div>
				</li>
			</ul>
		<% end %>
			
		<% if button_text %>
		  	<p>
		    	<%= f.submit button_text %>
		  	</p>
		<% end %>
	
	<% end %>
</div>