<div id="messageform">
	<%= form_for @message, :url => { :action => :save_move }, :remote => true do |f| %>
	  	<%= f.error_messages %>
	
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :request_uuid %>
	
	  	<ul class="form">
	  		<li>
		    	<%= f.label :board_id, "Board" %><br />
                <%= f.select :board_id, Board.where(closed: false).collect{|board| [board.name, board.id]} %>
	  		</li>
		</ul>
			
	<% end %>
</div>