<h1>New message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :board %><br />
    <%= f.text_field :board %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </p>
  <p>
    <%= f.label :character %><br />
    <%= f.text_field :character %>
  </p>
  <p>
    <%= f.label :last_edited_by %><br />
    <%= f.text_field :last_edited_by %>
  </p>
  <p>
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>