<h1 class="alt">Account Confirmation</h1>

<%= form_with model: resource, as: resource_name, url: confirmation_path(resource_name), method: :post, local: true do |f| %>
    <%= devise_error_messages! %>

    <p>
  	    <%= f.label :email, "E-mail address" %>
        <%= f.email_field :email, autofocus: true, id: "#{resource_name}_email" %>
    </p>

	<%= f.submit "Resend Confirmation" %>
<% end %>
