<%= form_for([:user, @monster_point_declaration], :remote => true, :url => user_monster_point_declaration_path) do |f| %>
    <%= f.error_messages :header_message => I18n.t("user.monster_point_declaration.dialog_header"), :message => I18n.t("user.monster_point_declaration.dialog_main") %>

	<ul class="form">
		<li>
			<%= f.label :declared_on %><br />
			<%= f.datepicker :declared_on, :dateFormat => "D d M yy", :changeMonth => true, :changeYear => true, :maxDate => "#{Date.today}", :readonly => true %>
		</li>
		<li>
			<%= f.label :points %><br />
			<%= f.text_field :points %>
		</li>
	</ul>
<% end %>
