<h1>Editing food_option</h1>

<% form_with model: @food_option, local: true do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :game %><br />
    <%= f.text_field :game, id: :food_option_game %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, id: :food_option_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @food_option %> |
<%= link_to 'Back', food_options_path %>