<%= form_for(@user, :url => { :action => action }, :remote => true ) do |f| %>
    <%= f.error_messages :header_message => "Failed to save user", :message => "The following problems prevented the user from being saved:" %>
	
	<ul class="form">
		<% fields.each do |field| %>
	  		<li>
	  			<% if field[:field_type] != "boolean" %>
			    	<%= f.label field[:field], field[:field_name] %><br />
				<% end %>
                <% if field[:field_type] == "text" %>
                    <%= f.text_field field[:field] %>
                <% elsif field[:field_type] == "email" %>
                    <%= f.text_field field[:field] %>
				<% elsif field[:field_type] == "text_area" %>
			        Click <%= link_to "here", "/pages/196", { :target => '_new' } %> to view formatting options. Raw HTML is prohibited.<br />
					<%= f.text_area field[:field], :class => "messagearea" %>
				<% elsif field[:field_type] == "boolean" %>
					<%= f.check_box field[:field] %>
					<%= f.label field[:field], field[:field_name] %>
				<% else %>
					<strong>Error: Unknown field type.</strong>
				<% end %>
				<% if field[:notes] %>
					<br /><em><%= field[:notes] %></em>
				<% end %>
	  		</li>
		<% end %>
	</ul>
<% end %>
