<%= form_with model: @user, url: { action: action } do |f| %>
    <%= f.error_messages :header_message => I18n.t("user.validation.dialog_header"), :message => I18n.t("user.validation.dialog_main") %>
	
	<ul class="form">
		<% fields.each do |field| %>
	  		<li>
	  			<% if field[:field_type] != "boolean" %>
			    	<%= f.label field[:field], field[:field_name] %><br />
				<% end %>
                <% if field[:field_type] == "text" %>
                    <%= f.text_field field[:field], id: "user_#{field[:field]}" %>
                <% elsif field[:field_type] == "email" %>
                    <%= f.text_field field[:field], id: "user_#{field[:field]}" %>
				<% elsif field[:field_type] == "text_area" %>
			        Click <%= link_to "here", "/pages/196", { :target => '_new' } %> to view formatting options. Raw HTML is prohibited.<br />
					<%= f.text_area field[:field], class: "messagearea", id: "user_#{field[:field]}" %>
				<% elsif field[:field_type] == "boolean" %>
					<%= f.check_box field[:field], id: "user_#{field[:field]}" %>
					<%= f.label field[:field], field[:field_name] %>
				<% else %>
					<strong>Error: Unknown field type.</strong>
				<% end %>
				<% if field[:notes] %>
					<br /><em><%= field[:notes] %></em>
				<% end %>
	  		</li>
		<% end %>
	</ul>
<% end %>
