<% user = merge_user %>
<tr id="record<%= user.id %>" class="<%= cycle('odd', 'even') %> <%= user.id == @primary ? "primary" : "" %> <%= user.id == @secondary ? "secondary" : "" %>">
    <td><%= link_to h(user.username), user_path(user) %></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td>
        <% if user.passive? or user.pending? %>
            Inactive
        <% elsif user.deleted? %>
            Deleted
        <% elsif user.approved_at.blank? %>
            Awaiting approval
        <% elsif user.active? %>
            Active
        <% elsif user.suspended? %>
            Suspended
        <% end %>
    </td>
    <% unless defined? hide_actions and hide_actions %>
        <td class="actions">
            <span class="unselected_actions">
                [ <%= link_to "Select as primary user", user, data: {primary: "#{user.id}"}, remote: true  %> ]<br />
                [ <%= link_to "Select as secondary user", user, data: {secondary: "#{user.id}"}, remote: true  %> ]
            </span>
            <span class="selected_actions">
                [ <%= link_to "Deselect", user, data: {deselect: "#{user.id}"}, remote: true %> ]
            </span>
        </td>
    <% end %>
</tr>

