<h1 class="alt">Merge Users</h1>

<h2 class="alt">Primary User</h2>
<p>This is the user record that will remain after merging.</p>
<table class="primary userMergeTable">
    <thead>
        <tr>
            <th class="login">Login</th>
            <th class="name">Name</th>
            <th class="email">E-mail</th>
            <th class="status">Status</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>

<h2 class="alt">Secondary User</h2>
<p>This is the user record that will be removed during merging.</p>
<table class="secondary userMergeTable">
    <thead>
        <tr>
            <th class="login">Login</th>
            <th class="name">Name</th>
            <th class="email">E-mail</th>
            <th class="status">Status</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>

<%= form_tag merge_select_data_users_path, :method => :post do %>
    <%= hidden_field_tag :primary, @primary %>
    <%= hidden_field_tag :secondary, @secondary %>
    <p class="actions"><%= submit_tag "Merge selected users" %></p>
<% end %>

<h2 class="alt">Available Users</h2>
<table class="source userMergeTable sortable prestyled">
    <thead>
        <tr>
            <th class="login">Login</th>
            <th class="name defaultColumn ascending">Name</th>
            <th class="email">E-mail</th>
            <th class="status">Status</th>
            <th class="actions no_sort">Actions</th>
        </tr>
    </thead>
    <%= render :partial => 'merge_user', :collection => User.all %>
</table>
