<h1 class="alt">Merge Users</h1>

<h2 class="alt">Primary User</h2>
<p>This is the user record that will remain after merging.</p>
<table class="primary userMergeTable">
    <thead>
        <tr>
            <th class="login">Login</th>
            <th class="name">Name</th>
            <th class="email">E-mail</th>
            <th class="status">Status</th>
        </tr>
    </thead>
    <tbody>
        <%= render :partial => 'merge_user', :object => @primary_user, :locals => { :hide_actions => true } %>
    </tbody>
</table>

<h2 class="alt">Secondary User</h2>
<p>This is the user record that will be removed during merging.</p>
<table class="secondary userMergeTable">
    <thead>
        <tr>
            <th class="login">Login</th>
            <th class="name">Name</th>
            <th class="email">E-mail</th>
            <th class="status">Status</th>
        </tr>
    </thead>
    <tbody>
        <%= render :partial => 'merge_user', :object => @secondary_user, :locals => { :hide_actions => true } %>
    </tbody>
</table>

<h2 class="alt">To Be Updated</h2>
<p>The following items will be moved from <%= @secondary_user.name %> to <%= @primary_user.name %>:</p>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th class="numeric">Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Board messages</td>
            <td class="numeric"><%= @secondary_user.messages.count %></td>
        </tr>
        <tr>
            <td>GMed campaigns</td>
            <td class="numeric"><%= @secondary_user.mastered_campaigns.count %></td>
        </tr>
        <tr>
            <td>GMed games</td>
            <td class="numeric"><%= @secondary_user.mastered_games.count %></td>
        </tr>
        <tr>
            <td>Characters</td>
            <td class="numeric"><%= @secondary_user.characters.count %></td>
        </tr>
        <tr>
            <td>Debriefs</td>
            <td class="numeric"><%= @secondary_user.debriefs.count %></td>
        </tr>
        <tr>
            <td>Game applications</td>
            <td class="numeric"><%= @secondary_user.game_applications.count %></td>
        </tr>
        <tr>
            <td>Game attendances</td>
            <td class="numeric"><%= @secondary_user.game_attendances.count %></td>
        </tr>
        <tr>
            <td>Monster point adjustments</td>
            <td class="numeric"><%= @secondary_user.monster_point_adjustments.count %></td>
        </tr>
    </tbody>
</table>

<%= form_tag merge_users_path, :method => :post do %>
    <%= hidden_field_tag :primary, @primary %>
    <%= hidden_field_tag :secondary, @secondary %>
    <p class="actions"><%= submit_tag "Confirm merge" %></p>
<% end %>
