<%= form_for([:character, @guild_membership], :remote => true, :url => { :action => "create_guild_branch_change" }, :html => { :method => :post }) do |f| %>
    <%= f.error_messages :header_message => I18n.t("character.guild_membership.dialog_header"), :message => I18n.t("character.guild_membership.dialog_main_change_branch") %>
    
    <ul class="form">
        <li>
            <%= f.hidden_field :guild_id %>
            <%= f.label :guild_id %><br />
            <%= @guild_membership.guild.name %>
        </li>
        
        <li>
            <%= f.label :guild_branch_id %><br />
            <%= f.select :guild_branch_id, GuildBranch.where('guild_id = ?', @guild_membership.guild.id).collect { |branch| [branch.name, branch.id] }, { :include_blank => false }, { :disabled => ( @guild_membership.guild.nil? || @guild_membership.guild.guild_branches.empty? ) } %>
        </li>
    </ul>
    
<% end %>
