<%= form_for([:character, @guild_membership], :remote => true) do |f| %>
    <%= f.error_messages :header_message => "Failed to save Guild Change", :message => "The following problems prevented your Guild Change from being saved:" %>
    
    <ul class="form">
        <li>
            <%= f.label :guild_id %><br />
            <%= f.select :guild_id, Guild.all.collect { |guild| [guild.name, guild.id] }, { :include_blank => true }, { :id => "guild_selector" } %>
        </li>
        
        <li>
            <%= f.label :guild_branch_id %><br />
            <%= f.select :guild_branch_id, GuildBranch.all.collect { |branch| [branch.name, branch.id] }, { :include_blank => true }, { :disabled => ( @guild_membership.guild.nil? || @guild_membership.guild.guild_branches.empty? ), :id => "guild_branch_selector" } %>
        </li>
    </ul>
    
<% end %>
