<div id="record<%= first_aid_record.id %>" class="report_record">
	<p class="record_header"><%= first_aid_record.name %> - Last Updated: <%= first_aid_record.emergency_last_updated.blank? ? "Never" : first_aid_record.emergency_last_updated.to_s(:long) %></p>
	
	<div class="record_section emergency_contact">
		<p><span class="record_section_header">Emergency Contact: </span>
		<% unless first_aid_record.contact_name.blank? or first_aid_record.contact_number.blank?%>
			<div class="record_content">
	    		<p><%= first_aid_record.contact_name %> on <%= first_aid_record.contact_number %></p> 
	    	</div>
	    <% else %>
	    	<%= first_aid_record.name %> has no emergency contact.</p>
	    <% end %>
	</div>
	
	<div class="record_section medical_notes">
		<p><span class="record_section_header">Medical Notes: </span>
		<% unless first_aid_record.medical_notes.blank? %>
			<div class="record_content">
				<%= RedCloth.new( first_aid_record.medical_notes, [:filter_html] ).to_html.html_safe %>
			</div>
		<% else %>
			<%= first_aid_record.name %> has no medical notes.</p>
		<% end %>
	</div>
	
	<div class="record_section food_notes">
		<p><span class="record_section_header">Food Notes: </span>
		<% unless first_aid_record.food_notes.blank? %>
			<div class="record_content">
				<%= RedCloth.new( first_aid_record.food_notes, [:filter_html] ).to_html.html_safe %>
			</div>
		<% else %>
			<%= first_aid_record.name %> has no food notes.</p>
		<% end %>
	</div>
</div>
