<tr class="<%= cycle("odd", "even", name: :first_aid_record) %> title" id="user<%= first_aid_record.id %>firstrow">
	<th id="user<%= first_aid_record.id %>name" width="50%" style="vertical-align: top">
		<%= first_aid_record.name %>
	</th>
	<th id="user<%= first_aid_record.id %>updated" width="50%" style="vertical-align: top">
		Last Updated: <%= first_aid_record.emergency_last_updated.blank? ? "Never" : first_aid_record.emergency_last_updated.to_date.to_s %>
	</th>
</tr>
<tr class="<%= current_cycle :first_aid_record %>" id="user<%= first_aid_record.id %>secondrow">
	<td id="user<%= first_aid_record.id %>contact" colspan=2 style="vertical-align: top">
		<span class="record_section_header">Emergency Contact:</span> 
		<% unless first_aid_record.contact_name.blank? or first_aid_record.contact_number.blank?%>
	    	<%= first_aid_record.contact_name %> on <%= first_aid_record.contact_number %>
	    <% else %>
	    	<%= first_aid_record.name %> has no emergency contact.
	    <% end %>
	</td>
</tr>
<tr class="<%= current_cycle :first_aid_record %>" id="user<%= first_aid_record.id %>thirdrow">
	<td id="user<%= first_aid_record.id %>medical" style="border-top: #777777 1px solid; border-right:#777777 1px solid; vertical-align: top">
		<span class="record_section_header">Medical Notes:</span><br />
		<% unless first_aid_record.medical_notes.blank? %>
			<%= RedCloth.new( first_aid_record.medical_notes, [:filter_html] ).to_html.html_safe %>
		<% else %>
			<%= first_aid_record.name %> has no medical notes.
		<% end %>
	</td>
	<td id="user<%= first_aid_record.id %>food" style="border-top: #777777 1px solid; vertical-align: top">
		<span class="record_section_header">Food Notes:</span><br />
		<% unless first_aid_record.food_notes.blank? %>
			<%= RedCloth.new( first_aid_record.food_notes, [:filter_html] ).to_html.html_safe %>
		<% else %>
			<%= first_aid_record.name %> has no food notes.
		<% end %>
	</td>
</tr>
