<%= form_with model: @character, url: { action: action } do |f| %>
    <%= f.error_messages :header_message => I18n.t("character.validation.dialog_header"), :message => I18n.t("character.validation.dialog_main") %>

	<ul class="form">
		<% fields.each do |field| %>
	  		<li>
	  			<% if field[:field_type] != "boolean" %>
			    	<%= f.label field[:field], field[:field_name] %>
				<% end %>
				<% if field[:field_type] == "text" %>
					<%= f.text_field field[:field], id: "character_#{field[:field]}" %>
				<% elsif field[:field_type] == "text_area" %>
			    Click <%= link_to "here", "http://redcloth.org/textile", { target: '_new' } %> to view markup options. Raw HTML is prohibited.<br />
					<%= f.text_area field[:field], class: "messagearea", id: "character_#{field[:field]}" %>
				<% elsif field[:field_type] == "date" %>
          <%= f.text_field field[:field], class: "datepicker", data: { yearRange: "c-50:c+50", maxDate: "#{Date.today}", value: @character.send(field[:field]).to_s}, readonly: true, id: "character_#{field[:field]}" %>
				<% elsif field[:field_type] == "boolean" %>
					<%= f.check_box field[:field], id: "character_#{field[:field]}" %>
					<%= f.label field[:field], field[:field_name] %>
				<% elsif field[:field_type] == "titlefields"%>
					<%= radio_button_tag(:radio_title, "guild", (@character.title.blank? && !@character.no_title) ) %><%= label_tag "radio_title_guild", "Use Guild titles" %><br />
		  		<%= radio_button_tag(:radio_title, "no_title", @character.no_title) %><%= label_tag "radio_title_no_title", "Use no title" %><br />
		  		<%= radio_button_tag(:radio_title, "custom", !@character.title.blank? ) %><%= label_tag "radio_title_custom", "Use a custom title" %><br />
					<%= f.text_field :title, { class: "fullwidth", disabled: @character.title.blank?, id: :character_title } %>
				<% else %>
					<strong>Error: Unknown field type.</strong>
				<% end %>
				<% if field[:notes] %>
					<br /><em><%= field[:notes] %></em>
				<% end %>
	  		</li>
		<% end %>
	</ul>
<% end %>
