<%= form_for(@character, :remote => true) do |f| %>
    <%= f.error_messages :header_message => "Failed to save Character details", :message => "The following problems prevented your details from being saved:" %>
	
	<div class="fullwidthcolumn">
		<ul class="form">
            <li>
                    <%= f.label :declared_on, "Declaration date" %><br />
                    <%= f.datepicker :declared_on, :dateFormat => "D d M yy", :changeMonth => true, :changeYear => true, :readonly => true %><br />
                    <em>This date should be before the first game you play as the character.</em>
            </li>
			<li>
				<%= f.label :name %><br />
				<%= f.text_field :name %>
			</li>
		</ul>
	</div>

	<div class="multicolumnform">
		<div class="formcolumn">
			<ul class="form">
				<li>
					<%= f.label :race_id %><br/>
					<%= f.select :race_id, Race.all.collect { |race| [race.name, race.id] } %>
				</li>

				<li>
					<%= f.label :title %><br/>
					<%= f.text_field :title %><br />
					<em>Leave blank to use the default title for your guild.</em>
				</li>
			</ul>	
		</div>
		<div class="formcolumn">
            <%= f.fields_for :guild_memberships do |guild_fields| %>
    			<ul class="form">
    				<li>
    					<%= guild_fields.label :guild_id %><br />
    					<%= guild_fields.select :guild_id, Guild.all.collect { |guild| [guild.name, guild.id] }, { :include_blank => true }, { :id => "guild_selector" } %>
    				</li>
    				
    				<li>
    					<%= guild_fields.label :guild_branch_id %><br />
                        <%= guild_fields.select :guild_branch_id, GuildBranch.all.collect { |branch| [branch.name, branch.id] }, { :include_blank => true }, { :disabled => ( @character.guild_memberships.first.guild.nil? || @character.guild_memberships.first.guild.guild_branches.empty? ), :id => "guild_branch_selector" } %>
    				</li>
    			</ul>
            <% end %>
		</div>
	</div>
	
<% end %>
