<% set_content_for :name do %>
    Rank
<% end %>

<% set_content_for :actions do %>
    <% unless character.recycled? %>
        <% if is_owner %>
            [
            <% if display_spend_monster_points_link? character %>
                <%= link_to "Spend monster points", new_character_monster_point_spend_path(character), :method => :get, :remote => true %>
            <% else %>
            	<span class="no_mp_spend_reason"><%= reason_cannot_spend_monster_points character %></span>
            <% end %>
            |
                <% if (!character.last_monster_point_spend.nil?) and character.last_monster_point_spend.can_delete? %>
                    <%= link_to "Delete last monster point spend", delete_new_character_monster_point_spend_path(character), :method => :delete %>
                    |
                <% end %>
                <%= link_to "Request adjustment", new_character_character_point_adjustment_path(character), :method => :get, :remote => true %> 
            ]
        <% elsif is_ref_for_character %>
            [ 
                <%= link_to "Adjust", new_character_character_point_adjustment_path(character), :method => :get, :remote => true %> 
            ]
        <% end %>
    <% end %>
<% end %>

<span class="fieldvalue"><%= character.rank %></span>
