<%= form_with model: @board, local: false do |f| %>
  	<%= f.error_messages %>

	<ul class="form">
	  	<li>
		    <%= f.label :name %>
	    	<%= f.text_field :name, id: :board_name %>
	  	</li>
	  	<li>
	    	<%= f.label :blurb %>
	    	<%= f.text_area :blurb, id: :board_blurb %>
	  	</li>
	  	<li>
		    <%= f.check_box :in_character, id: :board_in_character %><%= f.label :in_character %> <%= f.collection_select :campaign_id, Campaign.all, :id, :name, { :prompt => "Not campaign-related" } %>
		</li>
	
	</ul>
<% end %>
