<h1 class="alt">Message Boards</h1>

<p>Boards in <span>italics</span> are In Character (IC) boards.</p>

<h2 class="alt">Open Boards</h2>

<p>[ <%= link_to "Mark all boards read", mark_read_boards_path %> ]</p>

<% if Board.open_boards.empty? %>
	<p><i>No open boards found.</i></p>
<% else %>
	<table>
		<thead>
			<tr>
				<th>Board Name</th>
				<th>Unread Messages</th>
			</tr>
		</thead>
		<tbody>
			<% Board.open_boards.sort_by {|board| board.order }.each do |board| %>
				<tr class="<%= cycle('odd', 'even') %>">
					<td><%= link_to (h board.name), board, class: board.ic? ? 'icboard' : 'oocboard' %></td>
					<td><%= board.unread_messages(current_user) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<h2 class="alt">Closed Boards</h2>
<% if Board.closed_boards.empty? %>
	<p><i>No closed boards found.</i></p>
<% else %>
	<table>
		<thead>
			<tr>
				<th>Board Name</th>
			</tr>
		</thead>
		<tbody>
			<% Board.closed_boards.sort_by {|board| board.order }.each do |board| %>
				<tr class="<%= cycle('odd', 'even') %>">
					<td><%= link_to (h board.name), board, class: board.ic? ? 'icboard' : 'oocboard' %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
