<%= form_with model: [@game_attendance.game, @game_attendance] do |f| %>
    <%= f.error_messages :header_message => "Failed to save attendance details", :message => "The following problems prevented your details from being saved:" %>

	<%= f.hidden_field :user_id %>
	<%= f.hidden_field :game_id %>

	<p>
		<%= label_tag :state, "Status" %>
		<% if @game_attendance.game.attendance_only %>
            <%= select_tag :state, options_for_select([["Attending", "attending"],
                                                       ["Not attending", "not_attending"]], @game_attendance.attend_state) %>
		<% elsif @game_attendance.user.characters.empty? %>
			<%= select_tag :state, options_for_select([["Undecided", "undecided"],
													   ["Monster", "monstering"],
													   ["Not attending", "not_attending"]], @game_attendance.attend_state) %>
		<% else %>
			<%= select_tag :state, options_for_select([["Undecided", "undecided"],
													   ["Play", "playing"],
	                           ["Monster", "monstering"],
 													   ["Not attending", "not_attending"]], @game_attendance.attend_state) %>
		<% end %>
	</p>

	<% if !@game_attendance.user.characters.empty? %>
		<p>
			<%= f.label :character_id %>
			<%= f.collection_select :character_id, 
					                current_user.characters.to_a.select{|c| c.active? }.sort{|c1,c2| c1.points <=> c2.points},
					                :id, ->(character) { character.title_name_and_rank(unescaped: true) },
					                {include_blank: true}, 
					                {disabled: (!@game_attendance.playing?), id: :game_attendance_character_id} %>
		</p>
	<% end %>

	<p>
	    <%= f.label :notes %>
	    <%= f.text_field :notes, id: :game_attendance_notes, class: "fullwidth" %>
	</p>

<% end %>
