<h1>Listing acceptables</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @acceptables.each do |acceptable| %>
      <tr>
        <td><%= acceptable.flavour %></td>
        <td><%= acceptable.text %></td>
        <td><%= link_to 'Show', acceptable %></td>
        <td><%= link_to 'Edit', edit_acceptable_path(acceptable) %></td>
        <td><%= link_to 'Destroy', acceptable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acceptable', new_acceptable_path %>
