<p id="notice"><%= notice %></p>

<p>
  <strong>Flavour:</strong>
  <%= @acceptable.flavour %>
</p>

<p>
  <strong>Text:</strong>
  <%= @acceptable.text %>
</p>

<%= link_to 'Edit', edit_acceptable_path(@acceptable) %> |
<%= link_to 'Back', acceptables_path %>
