<h1 class="alt">
  <%= @acceptable.flavour %>
</h1>

<%= RedCloth.new( @acceptable.text, [:filter_html] ).to_html.html_safe %>

<% if current_user.latest_terms_and_conditions_accepted? %>
  <p>You accepted these terms and conditions at <%= current_user.acceptances.where(acceptance_id: Acceptable.latest_terms_and_conditions.id, accepted: true) %>.
<% else %>
  <% if @display_suspension_warning %>
    [ <%= link_to 'Accept', accept_terms_and_conditions_user_path(current_user), method: :post %> | <%= link_to 'Reject and suspend my account', reject_terms_and_conditions_and_accept_suspension_user_path(current_user), method: :post %> ]
  <% else %>
    [ <%= link_to 'Accept', accept_terms_and_conditions_user_path(current_user), method: :post %> | <%= link_to 'Reject', reject_terms_and_conditions_user_path(current_user), method: :post %> ]
  <% end %>
<% end %>
