<h1>Editing campaign</h1>

<% form_with model: @campaign, local: true do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name, id: :campaign_name %>
  </p>
  <p>
    <%= f.label :current %>
    <%= f.check_box :current, id: :campaign_current %>
  </p>
  <p>
    <%= f.label :start_date %>
    <%= f.date_select :start_date, id: :campaign_start_date %>
  </p>
  <p>
    <%= f.label :end_date %>
    <%= f.date_select :end_date, id: :campaign_end_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @campaign %> |
<%= link_to 'Back', campaigns_path %>