<%= form_for @category, :remote => true do |f| %>
    <%= f.error_messages %>

    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br/>
        <%= f.check_box :show_for_non_users %>
        <%= f.label "Visible to non-users" %>
        <br/>
        <%= f.check_box :show_for_admin_users_only %>
        <%= f.label "Visible to administrators and committee only" %>
		<br/>
		<%= f.check_box :always_open %>
		<%= f.label "Default to open in sidebar" %>
    </p>
<% end %>
