<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>" />
        <%= csrf_meta_tag %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap" rel="stylesheet">
        <%= javascript_include_tag 'application' %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= stylesheet_link_tag 'application', media: 'screen, projection' %>
        <%= stylesheet_link_tag 'application', media: 'print' %>
        <% if @content_for_title %>
            <title>BathLARP - <%= yield :title %></title>
        <% else %>
            <title>BathLARP</title>
        <% end %>
        <%= yield :head %>
    </head>
    <body>
        <!-- Page banner -->
        <header id="banner" class="non-printing">
            <div class="container">
                <div id="logo">
                    <%= image_tag "2022/bathlarp_sword.svg", class: "swordimage" %>
                    <a href="/" border="0">
                        <%= image_tag "2022/bathlarp_logo.svg", class: "titleimage" %>
                    </a>
                </div>
                <div class="strapline alt">Saving the world on a Sunday afternoon</div>
            </div>

            <nav id="sidebar" class="non-printing">
                <div id="hamburger">
                    <div class="icon"><%= fa_icon :bars %></div>
                    <div class="container">
                        <%= render partial: "sidebars/show" %>
                    </div>
                </div>
            </nav>

            <div id="faux-menu">&nbsp;</div>

        </header>

        <%= render partial: "shared/sessionpanel" %>

        <!-- Content -->

        <div id="content-space">

            <div class="container">
                <!-- Show any warnings, errors or other messages. -->
                <% if flash[ :notice ] %>
                    <div class="success"><%= flash[ :notice ] %></div>
                <% end %>
                <% if flash[ :warning ] %>
                    <div class="notice"><%= flash[ :warning ] %></div>
                <% end %>
                <% if flash[ :alert ] %>
                    <div class="notice"><%= flash[ :alert ] %></div>
                <% end %>
                <% if flash[ :error ] %>
                    <div class="error"><%= flash[ :error ] %></div>
                <% end %>

                <!-- Show any admin notifications. -->
                <% admin_notifications = render :partial => "shared/admin_notifications" %>
                <% if admin_notifications.present? %>
                    <div class="admin_notifications">
                        <%= admin_notifications %>
                    </div>
                <% end %>

                <!-- Show the actual page content. -->
                <%= yield %>
            </div>
        </div>

        <!-- Footer -->

        <footer id="footer" class="small non-printing">
            <div class="container">
                <div class="footerflex">
                    <p>
                        Copyright &copy; BathLARP 2009-<%= Time.now.strftime("%Y") %>. All rights reserved.
                    </p>
                    <p>
                        <a href="http://bugs.bathlarp.co.uk">Report a bug</a>
                    </p>
                </div>
            </div>
        </footer>

        <div id="fader" style="display: none;"></div>
        <div id="dialog" style="display: none;"></div>
    </body>
</html>
